.storybook-button {
  font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
  border-radius: 3em;
  cursor: pointer;
  display: inline-block;
  outline: none;
  border: none;
  box-shadow: none;
}
.storybook-button--primary {
  color: white;
  background-color: var(--color-pink);
}
.storybook-button--secondary {
  color: var(--color-white);
  background-color: transparent;
}
.storybook-button--small {
  font-size: 12px;
  padding: 10px 16px;
}
.storybook-button--medium {
  font-size: 14px;
  padding: 11px 20px;
}
.storybook-button--large {
  font-size: 16px;
  padding: 12px 24px;
}

.storybook-button--width {
  font-size: 16px;
  padding: 14px 24px;
  width: 100%;
  border-radius: 0.8em;
  margin-top: 10px;
}

.storybook-button--hidden {
  display: none;
}
