.pagination-ul {
  display: flex;
  color: var(--color-primary);
  gap: 10px;
  margin: 10px 0;
  justify-content: center;
  align-items: center;
}

.pagination-ul li a {
  padding: 5px;
  cursor: pointer;
}

.current-page {
  font-weight: 700;
  color: var(--color-primary);
}
