/* 필요없는 부분 삭제 */
.detail_calender .rbc-time-content {
  display: none;
}
.detail_calender .rbc-label {
  display: none;
}
.detail_calender .rbc-time-header.rbc-overflowing {
  border: none;
  margin-right: 0;
}
.detail_calender .rbc-btn-group {
  display: none;
}

/* 헤더 커스텀 */
.detail_calender .rbc-toolbar {
  display: none;
  width: 100%;
  margin-bottom: 120px;
  padding: 10px;
  text-align: center;
  font-size: 28px;
  font-weight: bold;
  color: #745cf2;
  background-color: #fff;
  border-radius: 50px;
  box-shadow: 5px 6px 10px rgba(116, 92, 242, 0.12);
}

/* 리스트 커스텀 */
.detail_calender .rbc-time-view {
  width: 106%;
  height: 570px;
  overflow-y: scroll;
  border: none;
}
.detail_calender .rbc-time-view::-webkit-scrollbar {
  width: 7px; /* 스크롤바의 너비 */
}
.detail_calender .rbc-time-view::-webkit-scrollbar-thumb {
  height: 10%; /* 스크롤바의 길이 */
  background: #745cf2; /* 스크롤바의 색상 */

  border-radius: 10px;
}
.detail_calender .rbc-time-view::-webkit-scrollbar-track {
  background: transperent; /*스크롤바 뒷 배경 색상*/
}
.detail_calender .rbc-event,
.detail_calender .rbc-day-slot .rbc-background-event {
  background-color: transparent;
}
.detail_calender .rbc-time-header-content {
  border: none;
}
