/* 달 적혀있는 곳 */
.rbc-toolbar {
  position: relative;
  margin: 40px 0;
}
.rbc-toolbar .rbc-btn-group {
  position: absolute;
  top: 20%;
  right: 50%;
  transform: translateX(50%);
}
.rbc-toolbar .rbc-toolbar-label {
  font-size: 38px;
  font-weight: bold;
  color: #745cf2;
}
.rbc-btn-group button {
  border: none;
  padding: 0;
}
.rbc-btn-group button:first-child {
  display: none;
}
.rbc-btn-group button:nth-child(2) {
  width: 18px;
  height: 18px;
  position: absolute;
  right: 70px;
  background: url('/public/calendar_arrow_left.svg') no-repeat center;
  font-size: 0;
}
.rbc-btn-group button:nth-child(3) {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 70px;
  background: url('/public/calendar_arrow_right.svg') no-repeat center;
  font-size: 0;
}

/* 달력 전체 */
.rbc-month-view {
  padding: 50px;
  border: 1px solid #745cf2;
  border-radius: 15px;
  background-color: #ffffff;
}
/* 전체 선택자 작동 안됨 */
.rbc-month-view * {
  border: none;
}
.rbc-header + .rbc-header {
  border: none;
}
.rbc-month-row + .rbc-month-row {
  border: none;
}
.rbc-day-bg + .rbc-day-bg {
  border: none;
}

/* 요일 */
.rbc-header {
  padding: 10px 0;
  font-size: 0;
}
.rbc-row .rbc-month-header .rbc-header:first-child {
  color: #ff99e5;
}
.rbc-header::first-letter {
  font-size: 18px;
  color: #745cf2;
}

/* 각 일자 */
.rbc-month-row {
  justify-content: center;
}
.rbc-row > div {
  text-align: center;
}
.rbc-off-range-bg {
  background-color: #ffffff;
}
.rbc-day-bg + .rbc-today {
  background-color: #ffffff;
}
.rbc-date-cell button {
  position: relative;
  width: 25px;
  height: 25px;
}
.rbc-date-cell button::after {
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 25px;
  height: 25px;
  border-radius: 8px;
  /* background-color: #745cf2; */
}

/* 이벤트 */
.rbc-event {
  position: relative;
}
/* .rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: transparent;
} */
.rbc-event,
.rbc-day-slot,
.rbc-background-event,
.rbc-event.rbc-selected,
.rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: #745cf2;
}
/* .rbc-row-content-scrollable .rbc-row-content-scroll-container {
  overflow-y: visible;
} */
/* .rbc-row-content-scroll-container div:first-child .rbc-event::after {
  content: '';
  width: 25px;
  height: 25px;
  position: absolute;
  top: -25px;
  left: 8px;
  z-index: -1;
  border-radius: 8px;
  background-color: #745cf2;
} */
